@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

$primaryColor: #C72038;
$primaryLight: #FFFFFF;
$complementaryColor: #374151; /* TAILWIND: GRAY 900 */
$complementarySkewColor: #212529;
$highlightColor: #9ca3af; /* TAILWIND: GRAY 400 */
$brandColor: #60a5fa; /* TAILWIND: BLUE 400 */
$brandSkewColor: #818cf8; /* TAILWIND: INDIGO 400 */
$highlightColor: #9ca3af; /* TAILWIND: GRAY 400 */
$succesColor: #16a34a; /* TAILWIND: GREEN 600 */
$errorColor: #dc2626; /* TAILWIND: RED 600 */
$dividerColor: #d1d5db;

$primary: $primaryColor;
$white: #FFFFFF;
$dark: $complementaryColor;
$danger: $errorColor;

$spacer: 2rem;

$grid-breakpoints: (
  xs: 0,
  sm: 1200px,
  md: 1250px,
  lg: 1300px,
  xl: 1350px,
  xxl: 1400px
);

